@font-face {
    font-family: DPComic;
    src: url("../fonts/dpcomic.ttf");
    font-weight: auto;
}

* {
    font-family: DPComic, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
    opacity: 0;
}

body {
    background-image: url(../images/patternBackground.png);
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    background-image: url(../images/AnimatedBackground.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 675px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: solid 1px #13131d;
}

.contentContainer {
    background-color: rgba(233, 235, 232, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 450px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: solid 1px #13131d;
    padding: 135px 75px 20px 75px;
}

.profilePicture {
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: solid 1px #13131d;
}

.contentContainer h1 {
    font-size: 50px;
    color: #130423;
    text-align: center;
}

.contentContainer h2 {
    font-size: 35px;
    color: #322C5F;
    text-align: center;
}

.contentContainer .skillsContainer {
    display: flex;
    column-gap: 5px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.contentContainer .skillsContainer:before {
    content: 'skills:';
    position: absolute;
    top: -29px;
    font-size: 24px;
    left: 0;
    right: 0;
    color: #322C5F;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.contentContainer .skillsContainer svg {
    width: 44px;
    height: 44px;
}

.contentContainer .skillsContainer div {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #130423;
    border-radius: 4px;
}

.contentContainer .skillsContainer div img {
    width: 36px;
}

.contentContainer p {
    max-width: 341px;
    font-size: 20px;
    color: #322C5F;
    margin-top: 30px;
    letter-spacing: -1px;
}

#object {
    width: 75px;
    height: 75px;
    position: absolute;
    background-size: cover;
    display: inline-block;
    left: 10px;
    bottom: 10px;
}

.stop {
    background-image: url("../images/charIdle.gif");
}

.move {
    background-image: url("../images/charRunning.gif");
}

.jump {
    animation: ease-in-out jump 750ms;
}

.controlsContainer {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 105px;
    justify-content: center;
    align-items: start;
}

#right, #left {
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border: solid 5px;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    transition: all 150ms;
}


#jump {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border: solid 5px;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    transition: all;
}

.deactivateBut {
    border: #2C2752;
    color: #2C2752;
}

.activeBut {
    border: rgba(0, 83, 255, 0.5);
    color: rgba(0, 83, 255, 0.5);
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2C2752;
    z-index: 999;
    padding: 100px 10px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

#loading div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    margin: auto;
    background-image: url("../images/charRunning.gif");
    background-size: cover;
}

@keyframes jump {
    0% {
        bottom: 15px;
    }
    50% {
        bottom: 90px;
    }
    100% {
        bottom: 15px;
    }
}